body {
    background-color: #f4f6f9;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.table {
    margin-top: 30px;
    border-radius: 12px;
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

thead tr {
    background-color: inherit;
    cursor: default;
}

.table tr {
    transition: all 0.3s ease;
}

.table th,
.table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
}

.table th {
    background-color: #f7f7f7;
    color: #333;
    font-weight: bold;
}



.btn-primary {
    background-color: #6c757d;
    /* Màu nút bấm xám */
    border-color: #6c757d;
}

.btn-primary:hover {
    background-color: #5a6268;
    /* Màu xám đậm hơn khi hover */
    border-color: #545b62;
}

.alert {
    margin-top: 20px;
}


.card-header {
    background-color: #6c757d;
    /* Màu xám đậm cho header */
    color: #333;
}

.card-body {
    padding: 15px;
}

.past-date {
    background-color: #cce5ff;
    /* Màu xanh dương nhạt cho ngày đã qua */
}

.today {
    background-color: #d4edda;
    /* Màu xanh lá cho ngày hiện tại */
}

.next-day {
    background-color: #d4edda;
    /* Màu xanh lá cho ngày tiếp theo */
}