body {
    background: linear-gradient(to right, #e3f2fd, #bbdefb);
}

.card {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

.card-header {
    background: linear-gradient(to right, #007bff, #0056b3);
    color: #fff;
    border-radius: 10px 10px 0 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
}

.info {
    flex: 1;
    /* Chiếm 50% chiều rộng */
    margin-right: 20px;
    /* Khoảng cách giữa thông tin và ảnh */
}

.avatar {
    flex: 1;
    /* Chiếm 50% chiều rộng */
    text-align: center;
}

.avatar img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    cursor: pointer;
    /* Thay đổi con trỏ chuột khi di chuột vào ảnh */
}

.change-text {
    position: absolute;
    bottom: 10px;
    /* Điều chỉnh vị trí theo ý muốn */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    /* Nền trắng mờ */
    padding: 5px;
    border-radius: 5px;
    display: none;
    /* Ẩn mặc định */
    font-size: 1rem;
    color: #333;
}

.avatar label:hover .change-text {
    display: block;
    /* Hiện khi di chuột vào label */
}



.info-label {
    font-weight: bold;
    color: #555;
}

.info-value {
    margin-left: 10px;
    color: #333;
    font-size: 1.1rem;
}

.hidden-input {
    display: none;
    /* Ẩn input file */
}