body {
    background-color: #f4f6f9;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.container {
    max-width: 1200px;
    padding-top: 50px;
}

.semester-table {
    border-radius: 12px;
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    transition: transform 0.3s ease;
}

.semester-table th,
.semester-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
}

.semester-table th {
    background-color: #f7f7f7;
    color: #333;
    font-weight: bold;
}


tbody .dropdown-toggle::after {
    display: none;
    /* Ẩn mũi tên mặc định của Bootstrap */
}

thead tr {
    background-color: inherit;
    cursor: default;
}